<launch>
  <arg name="device" default="/dev/video0"/>
  <arg name="camera_name" default="theta_s_uvc"/>
  <arg name="enable_image_view" default="false"/>
  <node name="$(arg camera_name)" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="camera_name" value="$(arg camera_name)"/>
    <param name="camera_frame_id" value="$(arg camera_name)"/> 
    <param name="video_device" value="$(arg device)" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="framerate" value="15"/>
    <param name="pixel_format" value="mjpeg" />
    <param name="io_method" value="mmap"/>
  </node>
  <group if="$(arg enable_image_view)">
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/$(arg camera_name)/image_raw"/>
        <param name="autosize" value="true" />
    </node>
  </group>
</launch>